<div class="container">
       <div class="container-sm" style="margin-top: 50px;">
        <div class="row  " style="margin-bottom: 150px;">
           <div class="col-md-8">
         <div @load class="jumbotron mx-auto  " style="height: 400px; background: rgb(255, 255, 255); margin-top: 100px;">
             <h1 class=" font-effect-shadow-multiple">HI, I AM</h1>
             <h1 class="font-effect-shadow-multiple">NIRODHA WICKRAMARATHNA</h1>
             <h4 class="lead">Undergraduate | Software Engineer  </h4>
             <hr class="my-4">
             <p><em>"If at first you don’t succeed; call it version 1.0"</em></p>
             <p class="lead" >
              
               <button   type="button" class="btn btn-success " style="margin-right: 1em;"><a href="mailto:nirodhamwickramaratne@gmail.com" style="text-decoration: none; color: white;">Hire Me</a></button>
               <button type="button" class="btn btn-success">Download CV</button>
             </p>
           </div>
         </div>
 
         <div @bumpIn class="col-md-4 " >
           <div class="card" style="width:100%; margin-top: 100px;">
             <img class="card-img-top" src="assets/img1.png" alt="Card image">
             <div class="card-img-overlay">
               <!-- <h4 class="card-title">John Doe</h4>
               <p class="card-text">Some example text.</p>
               <a href="#" class="btn btn-primary">See Profile</a> -->
             </div>
           </div>   
        
         </div>
       </div> 
 
   <!-- About -->
       <div  id="about" class="container" style=" padding-top: 3em; padding-bottom: 5em;">
         <h1>ABOUT ME</h1>
       <div class="row  ">
         <div class="col-md-4 " >
           <div @load class="card" style="width:100%; margin-top: 80px; ">
             <img class="card-img-top" src="assets/img3.jpg" alt="Card image">
             <div class="card-img-overlay">
               <!-- <h4 class="card-title">John Doe</h4>
               <p class="card-text">Some example text.</p>
               <a href="#" class="btn btn-primary">See Profile</a> -->
             </div>
           </div>   
        
         </div>
           <div class="col-md-8">
           <div @load class="jumbotron  " style=" background: rgb(255, 255, 255); ">
             <h1 class=" display-4">HELLO</h1>
             
             <p style="margin-top: 50px;">I’m undergraduate of Faculty of Applied Science, Department of Computer Science, 
               Trincomalee Campus, Eastern University work as an active member of societies in the university and previously 
               I was an active member of IT society in the school. I am determined to do well in my job and am determined to 
               have a successful career. As well as make the company I work for more competitive.
             </p>
             <p> 
               To be an effective and efficient team player in the working environment where I can apply my knowledge, 
               skills and creativity to maximize the potential and make a considerable value addition to words the 
               sustainability of the organization.</p>
              
             
          
           </div>
         </div>
 
         
       </div>








       <div  id="about" class="container" style=" padding-top: 10em; margin-bottom: 5em;">
        <h1>My Works</h1>
     
        <div style="padding-top: 3em; padding-bottom:5em ; justify-items: center; justify-content: center; align-items: center;" >
          <div @bumpIn1 class="card-deck">
              <div class="card hovereffect " >
                  <img  src="assets/myshop.png " class="card-img-top" style="height: 100%; ">
                  <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
                    <a href="https://github.com/Nirodha97/Myshop-Angular-shoping-app"  target="_blank" style="text-decoration: none;"><h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center;">MYSHOP ANDROID APPLICATION</h3></a>
                      <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Online Shoping Application</h4>
                      <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                        This is an Android Application created using Angular and Node.js. 
                        Capacitor used to convert Angular web app to Android app.
                        It can be use to sell and buy products. 
                      </h4>
                      <a href="https://github.com/Nirodha97/Myshop-Angular-shoping-app"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
                  </div>
              </div>
              <div class="card hovereffect " style="justify-content: center; ">
                <img  src="assets/house.png " class="card-img-top" style="height: 100%; ">
                <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
                  <a href="https://github.com/Nirodha97/HouseSellingApp"  target="_blank" style="text-decoration: none;"><h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center; ">SWEET HOMES ANDROID APPLICATION</h3></a>
                   <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Online House Selling Application</h4>
                    <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                      This is an Android Application created using Android Studio with JAVA, PHP, MYSQL and Android Volley Library. 
                      It can be use to sell and buy houses. 
                    </h4>
                    <a href="https://github.com/Nirodha97/HouseSellingApp"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
                </div>
            </div>
            
          </div>

          <div @bumpIn1 class="card-deck" style="margin-top: 2em;">
            <div class="card hovereffect " style="justify-content: center; ">
                <img  src="assets/mydiary.png " class="card-img-top" style="height: 100%; ">
                <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
                  <a href="https://github.com/Nirodha97/My_Diary"  target="_blank" style="text-decoration: none;"><h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center; ">MY DIARY ANDROID APPLICATION</h3></a>
                    <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Personal Diary Application</h4>
                    <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                      This is an Android Application created using Android Studio with SQLite database.
                      It can be use to store personal details. 
                    </h4>
                    <a href="https://github.com/Nirodha97/My_Diary"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
                </div>
            </div>
            <div class="card hovereffect " style="justify-content: center; ">
              <img  src="assets/kids.png " class="card-img-top" style="height: 100%; ">
              <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
                <a href="https://github.com/Nirodha97/Kids_Songs_Android_App"  target="_blank" style="text-decoration: none;"> <h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center; ">KID'S LEARNING ROOM</h3></a>
                  <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Kid's Learning Application</h4>
                  <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                    This is an Android Application created using Android studio with JAVA. 
                    It can be useful for kids to learn english from songs. 
                  </h4>
                  <a href="https://github.com/Nirodha97/Kids_Songs_Android_App"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
              </div>
          </div>
          
        </div>

        <div @bumpIn1 class="card-deck" style="margin-top: 2em;">
          <div class="card hovereffect " style="justify-content: center; ">
              <img  src="assets/pawn.png " class="card-img-top" style="height: 100%; ">
              <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
                <a href="https://github.com/Nirodha97/Pawn-Management-System"  target="_blank" style="text-decoration: none;"> <h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center; ">PAWN MANAGER</h3></a>
                  <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Pawn Management System (Group Project)</h4>
                  <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                    This is an Android Application created using Android studio with JAVA. 
                    It can be useful for pawn managers to manage user's, customer's and pawn details. 
                  </h4>
                  <a href="https://github.com/Nirodha97/Pawn-Management-System"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
              </div>
          </div>
          <div class="card hovereffect " style="justify-content: center; ">
            <img  src="assets/my.png " class="card-img-top" style="height: 100%; ">
            <div class="card-img-overlay overlay container" style="justify-content: center; align-content: center; padding: 3em;">
              <a href="https://github.com/Nirodha97/resume"  target="_blank" style="text-decoration: none;"><h3 class="card-title text-white display-2" style="font-size: 16px; font-weight: 500; text-align: center; ">PERSONAL PORTFOLIO</h3></a>
                <h4 class="card-text text-white display-2" style="font-size: 14px;font-weight: 400;">Personal Website </h4>
                <h4 class="card-text display-2" style="font-size: 14px; color: rgb(0, 0, 0); font-weight: 400; padding-top: 1em;">
                  This is my Personal Website Made by Angular.
                </h4>
                <a href="https://github.com/Nirodha97/resume"  target="_blank" ><button mat-stroked-button color="primary" class="btn" style="background-color: white;"  href="">View</button></a>
            </div>
        </div>
        
      </div>



          

        
      </div>
    </div>